* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "sans-serif";
}

/* Yan Wahyudi */

.contaainer {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

header {
  height: 65px;
  width: 100%;
  background-color: royalblue;
  font-family: sans-serif;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}

#logo {
  display: flex;
  float: left;
}

.header-right {
  display: flex;
  float: right;
  margin-top: 10px;
}

.header-right a {
  text-align: center;
  line-height: 40px;
  padding: 0 10px;
  display: inline-block;
  color: white;
  float: left;
  transition: all 0.3s;
  border-radius: 5px;
}

.daftar {
  background-color: rgb(48, 200, 214);
}
.message-wrapper {
  border-bottom: 1px solid #eee;
  font-family: sans-serif;
  color: #16325c;
  padding-top: 500px;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.heading h1 {
  padding: 14px;
}

.heading p {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  padding: 10px;
}

footer {
  display: flex;
  justify-content: space-around;
  /* padding: 20px 0; */
  color: rgb(17, 1, 1);
  height: 200px;
  align-items: center;
}

footer .logo {
  margin: 0;
  padding: 0;
}

footer ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

footer ul li a {
  color: rgb(12, 6, 6);
  text-decoration: none;
  font-size: 15px;
  font-family: sans-serif;
  justify-content: space-around;
}

footer ul li a:hover {
  color: rgb(12, 6, 6);
}

.btn-message {
  text-align: center;
  margin: 20px 0;
}

.msg {
  background-color: rgb(48, 200, 214);
}

.btn {
  padding: 0px 16px;
  color: rgb(255, 255, 255);
  display: inline-block;
  opacity: 0.8;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 48px;
  transition: all 0.3s ease-in-out 0s;
  min-width: 200px;
  cursor: pointer;
}

.btn:hover {
  opacity: 2;
}

/* Yan Wahyudi Akhir */

/* Yusuf Efendi */
.landing-main {
  font-family: sans-serif;
  color: #2b546a;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 140px;
}

.landing-introduction-courier {
  display: flex;
  justify-content: center;
  margin: 16px 0 48px;
}

.landing-introduction-courier1 {
  margin-right: 24px;
}

.landing-introduction-courier img {
  width: 20px;
  height: auto;
  margin-right: 8px;
  vertical-align: middle;
}

.users-count,
.globe-count {
  font-weight: bold;
  font-size: 17px;
  color: #2b546a;
  letter-spacing: 0.03em;
  font-family: sans-serif;
  line-height: 1.7142857143px;
  vertical-align: middle;
}

.users-usage,
.globe-active,
.globe-country {
  font-weight: bold;
  font-size: 13px;
  color: #8491a5;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.btn-landing {
  text-align: center;
  margin: 20px 0;
}

.start {
  background-color: rgb(48, 200, 214);
}

.btn {
  padding: 0px 16px;
  color: rgb(255, 255, 255);
  display: inline-block;
  opacity: 0.8;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 48px;
  transition: all 0.3s ease-in-out 0s;
  min-width: 200px;
  cursor: pointer;
}

.btn:hover {
  opacity: 2;
}

.landing-image {
  position: relative;
  overflow: hidden;
}

.hello-world {
  width: 100%;
  transition: transform 0.2s;
  margin: 0 auto;
}
.hello-world:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* Yusuf Efendi*/

/* Salman Farisi */

.perjalanan {
  font-family: AvenirNext, Lato, Meiryo, sans-serif;
  color: #2b546a;
  font-weight: 700;
  font-style: normal;
  font-size: 2vw;
  line-height: 4vw;
  text-align: center;
  letter-spacing: 0.03em;
  margin: auto;
  width: 50%;
}

.perjalanan p {
  font-size: 16px;
  line-height: 32px;
  font-style: normal;
  margin-top: 16px;
  font-weight: 400;
  color: #8491a5;
}

.perjalanan-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1000px;
  width: 100%;
  margin-top: 88px;
}
img {
  vertical-align: middle;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* Salman Farisi akhir */

/* Adhi Baskara */

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* End of Global CSS */

.kisah-sukses {
  background-color: #2b546a;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.testimonies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px -10px;
  overflow: hidden;
}

.testimony-card {
  background-color: white;
  color: #2b546a;
  max-width: 250px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  flex: 1 1 200px;
  box-shadow: 3px 3px 10px #0625355d;
  transition: 0.5s ease;
}

.testimony-card:hover {
  transform: scale(1.01);
}

.testimony-card img {
  background-color: #ff577b;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.testi-text {
  /* height: 40%; */
  margin: 20px auto;
  font-weight: bold;
  line-height: 1.4;
}

.testi-info {
  align-self: flex-end;
}
.testi-info p {
  margin: 0;
  color: #bac6d3;
}

.testi-user {
  font-weight: bold;
}

.test-domicile {
  font-size: 12px;
}

.read-more {
  display: inline-block;
  width: 200px;
  height: 48px;
  border-radius: 10px;
  color: #2b546a;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.05s ease-in;
}

.read-more:hover {
  opacity: 0.9;
}

/* Adhi Baskara akhir */

/* Dewantoro */

.containerr {
  width: 1100px;
  height: 100%;
  display: flex;
  margin: 30px auto;
  padding: 5px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.containerr div {
  margin: 5px;
  border-radius: 10px;
  align-self: center;
}

.containerr .main {
  background-color: rgb(240, 244, 249);
  width: 1100px;
  height: 400px;
  margin: 20px 20px;
  display: flex;
  justify-content: space-around;
}

.txt-content {
  color: rgb(43, 84, 106);
  width: 350px;
  height: 300px;
  font-size: 20px;
  font-family: sans-serif;
  line-height: 50px;
}

.txt-content p {
  font-size: 14px;
  color: #8491a5;
  font-family: sans-serif;
}

.containerr .sidebar {
  background-color: rgb(240, 244, 249);
  width: 500px;
  height: 550px;
  margin: 20px auto;
  font-family: sans-serif;
}

.sidebar .left {
  width: 300px;
  margin: 105px auto;
  text-align: center;
}

.left h2 {
  margin-bottom: 30px;
  font-size: 28px;
  color: rgb(43, 84, 106);
}

.left p {
  line-height: 40px;
  margin-bottom: 30px;
  color: rgb(132, 145, 165);
}

.left .akses {
  color: #2b546a;
  font-weight: 700;
}

.containerr .sidebarr {
  background-color: rgb(247, 237, 173);
  width: 500px;
  height: 550px;
  margin: 20px auto;
  font-family: sans-serif;
}

.sidebarr .right {
  width: 400px;
  margin: 105px auto;
  text-align: center;
}

.right h2 {
  margin-bottom: 30px;
  font-size: 28px;
  color: rgb(43, 84, 106);
}

.right p {
  line-height: 40px;
  margin-bottom: 30px;
  color: rgb(132, 145, 165);
  font-size: 16px;
}

.right .akses {
  color: #2b546a;
  font-weight: 700;
  line-height: 40px;
}

.right a {
  text-decoration: none;
  color: rgb(156, 106, 250);
}

.right a:hover {
  text-decoration: underline;
}

.right .harga {
  line-height: 40px;
  color: #2b546a;
}

.left .rp {
  font-size: 32px;
  color: #2b546a;
  font-weight: 700;
}

.rp span {
  font-size: 48px;
  font-family: sans-serif;
}

.right .rp {
  font-size: 32px;
  color: #2b546a;
  font-weight: 700;
}

.rp span {
  font-size: 48px;
  font-family: sans-serif;
}

.bulan {
  font-size: 12px;
  font-weight: 400;
}
